__pycache__/
backend/serviceAccountKey.json
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local.env
.env
.env.*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json